:root {
  --blue-color:  #1AB0CE;
  --black-color: #3A4047;
  --grey-color:  #BEC7D1; 
  --light-grey-btn: #EDEDED;
}

* {
  box-sizing: border-box;
  color: var(--black-color);
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  /* border: 1px dashed blue; */
}

header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  display: block;
}

.header {
  padding-top: 17px;
  font-family: "ClearSans";
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.logo {
  display: flex;
  align-items: flex-start;
      /* border: 1px solid;  */
  width: 258px;
  height : 77px;
  /* background-color: rgba(0, 0, 0, 0.05); */
}

.logo__text {
  margin: 4px 0 0 12px;
}
.logo__text a {
  text-decoration: none;
}

.logo img {
  margin-top: 1px;
}

.logo h1, .logo h2 {
  font-family: 'Montserrat', sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
}

.logo h1 a {
  color: var(--blue-color);
  font-size: 43px;
  font-weight: 900;
  line-height: 46px;
  height: 45px;
  text-transform: uppercase;
  vertical-align: bottom;
  padding-bottom: 4px;
  margin-left: -2px;
}

.logo h2 a {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.info {
  /* border: 1px solid green; */
  
  padding: 0 10px;
  text-align: center;
  /* background-color: background: rgba(255, 255, 255, 1); */
  flex-grow: 1;
}

.slogan {
  font-family: "ClearSans";
  font-size: 16px;
  line-height: 21px;
  /* background-color: silver; */
  /* margin-bottom: 11px; */
  max-width: 375px;
  margin: 0 auto 11px;
  
}

.work-time {
  /* background-color: tan; */
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  max-width: 375px;
  margin: 0 auto;
  
}

.links {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid blue; */
  padding: 0 20px;
  /* width: 100%; */
  flex-grow: 1;
}

.links__top {
  /* background-color: khaki; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.account {
  /* border: 1px solid red; */
  margin-right: 10px;
}

.account__ico {
  height: 13px;
  width: 12px;
  /* border: 1px solid tomato; */
  display: inline-block;
  vertical-align: middle;
}

.account a {
  margin-left: 5px;
}

.email {
  display: block;
  max-width: 180px;
  /* border: 1px solid tomato; */
}

.links__bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* background-color: lightblue; */
  margin-bottom: 20px;
}

.facebook__ico {
  width: 12px;
  height: 22px;
  margin-right: 21px;
}

.phones {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  position: relative;
  font-family: "ClearSans";
  display: inline-block;
}

.phones__ico {
  width: 22px;
  height: 22px;
  /* border: 1px solid grey; */
  vertical-align: middle;
}
#phones__btn {
  border-radius: 50%;
  border: none;
  background-color: var(--light-grey-btn);
  width: 20px;
  height: 20px;
  position: relative;
  outline: none;
  cursor: pointer;
}

#phones__btn img {
  position: absolute;
  width: 10px;
  height: 6px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.phones__primary {
  display: flex;
  /* border: 1px solid red; */
}
.phones__primary a {
  display: block;
  margin: 0 6px 0 10px;
  text-decoration: none;
}
.phones__mobile {
  display: none;
  font-weight: normal;
  background-color: white;
  width: 219px;
  height: 167px;
  padding: 30px 5px 30px 30px;
  position: absolute;
  top: 46px;
  left: -21px;
  /* border: 1px solid violet; */
  z-index: 2;
}

.phones__mobile:before {
  content:"";
  display: block ;
  position: absolute;
  top: -5px;
  right: 6px;
  width: 28px;
  height: 28px;
  background-color: white;
  /* border: 1px solid black; */
  transform: rotate(45deg);
}

.phones__mobile li {
  height: 26px;
  /* background-color: turquoise; */
  display: flex;
  margin-bottom: 14px;
}

.phones__mobile li a {
  line-height: 26px;
  vertical-align: middle;
  margin-left: 10px;
  text-decoration: none;
}

.phones__mobile li img {
  height: 26px;
  width: 26px;
}

.shoping-cart {
  position: relative;
  /* background-color: sandybrown; */
}

.shoping-cart img {
  height: 54px;
}

.shoping-cart__counter {
  color: white;
  font-size: 14px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: absolute;
  top: 8.5px;
  right: 11.5px;
} 
/* @media (max-width: 480px) {} */
@media (min-width: 1800px) {
  .banner-btn {
    bottom: 28%;
  }
}

/* @media (min-width: 1060px) { */
@media (min-width: 1100px) {
  .shoping-cart{
    order: 2;
  }
  .links {
    order: 1;
  }
}

@media (max-width: 1799px) {
  .banner .banner-btn {
    bottom: 20%;
  }
}

@media (max-width: 1799px) {
  .banner .banner-btn {
    bottom: 15%;
  }
}
/* @media (max-width: 1039px) { */
@media (max-width: 1059px) {
  .header {
    flex-wrap: wrap;
  }
  .logo {
    margin-bottom: 10px;
  }
    /* flex-direction: column; */
  .info {
    width: 60%;
  }
  .shoping-cart {
    order: 1;
  }
  .links {
    order: 2;
    flex-direction: row;
    justify-content: space-around;
  }
  .account {
    margin-right: 30px;
  }
}

/* @media (max-width: 820px) { */
@media (max-width: 870px) {
  nav {
    display: none;
  }
  .info {
    width: 50%;
    margin-right: 60px;
  }
  .links {
    order: 1;
  }
  .shoping-cart {
    order: 3;
  }
  .banner .banner-btn {
    bottom: 10%;
  }
}
@media (max-width: 768px) {
  .banner .banner__title {
    margin-bottom: 15px;
  }
}
/* @media (max-width: 640px) { */
@media (max-width: 700px) {
  .info {
    margin-right: 0;
  }
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .shoping-cart {
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .info {
    margin-bottom: 10px;
    width: 80%;
  }
  .links {
    order: 1;
  }
  .links__top {
    flex-direction: column;
  }
  .account {
    margin-bottom: 20px;
  }
}
/* @media (max-width: 430px) { */
@media (max-width: 460px) {
  .info {
    width: 100%;
  }
  .links {
    width: 100%;
    flex-direction: column;
    /* align-items: left; */
  }
  .links__top {
    align-items: center;
  }
  .links__bottom {
    justify-content: left;
  }
  .shoping-cart {
    top: unset;
    left: unset;
    right: 10px;
    bottom: unset;
    bottom: 20px;
  }
}

nav {
  font-family: "ClearSans";
  font-weight: bold;
  width: 100%;
  /* display: block; */
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.menu-bar{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 57px;
}
.nav-element {
  display: inline-block;
  height: 100%;;
  border-top: 1px solid transparent;
}
.nav-element:hover {
  /* background-color: rgba(0, 0, 0, 0.05); */
  border-top: 1px solid var(--blue-color);
}
.nav-element:hover .nav-element__link {
  color: var(--blue-color);
} 
.nav-element__link {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 38px;
  /* background-color: violet; */
  /* border: 1px solid; */
  /* justify-content: center; */
  align-items: center;
  text-transform: uppercase;
  font-family: "ClearSans";
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.nav-element:first-child {
  margin-left: -38px;
}
/* nav ul li:first-child a {
  padding-left: 0;
} */
.nav-element:last-child {
  margin-right: -38px;
}
/* nav ul li:last-child a {
  padding-right: 0;
}   */
@media (max-width: 1170px) {
  .header, nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-element:first-child {
    margin-left: 0;
  }
  .nav-element__link {
    padding: 0 30px;
  }
  .nav-element:last-child {
    margin-right: -30px;
  }
}

@media (max-width: 1149px) {
  .nav-element__link {
    padding: 0 25px;
  }
  .nav-element:last-child {
    margin-right: -25px;
  }
}

@media (max-width: 1059px) {
  .nav-element__link {
    padding: 0 10px;
  }
  .nav-element:last-child {
    margin-right: 0px;
  }
}


/* 26-09-2020 1:22*/

/* 26-09-2020 14:00 */
#search__btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
.search__btn:hover {
  background: transparent;
}


.banner {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 0; 
  max-height: 500px;
  /* border: 2px solid yellow; */
  z-index: 1;
}

#banner__background{
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  object-fit: cover;
}

.banner__text {
  font-family: "ClearSans";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__title {
  /* background-color: yellowgreen; */
  /* border: 1px solid yellowgreen; */
  color: white;
  font-size: 57px;
  line-height: 67px;
  position: relative;
  margin-bottom: 25px;
  text-align: center;
}

.banner__title:after {
  content: "";
  display: block;
  height: 2px;
  border-top: 2px solid white;
  width: 120px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -60px;
}

.banner__subtitle {
  font-size: 24px;
  line-height: 28px;
  color: white;
  text-align: center;
}

.banner__title, .banner__subtitle {
  max-width: 1170px;
}

.blue-btn {
  background-color: var(--blue-color);
  color: white;
  border: none;
  border-radius: 2px;
  height: 32px;
  font-family: "ClearSans";
  font-size: 14px;
  line-height: 16px;
  padding: 0 25px;
  z-index: 1;
  display: inline-block;
  outline: none;
  cursor: pointer;
}

.blue-btn--bold {
  background-color: var(--blue-color);
  color: white;
  border: none;
  border-radius: 2px;
  height: 48px;
  font-family: "ClearSans";
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  padding: 0 25px;
  z-index: 1;
  outline: none;
  cursor: pointer;
}
.transparent-btn {
  background-color: transparent;
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
  border-radius: 2px;
  height: 32px;
  font-family: "ClearSans";
  font-size: 14px;
  line-height: 16px;
  padding: 0 21px;
  z-index: 1;
  display: inline-block;
  outline: none;
  padding-top: 2px;
  cursor: pointer;
}

.banner-btn {
  display: block;
  width: 100%;
  /* border: 1px solid blue; */
  position: absolute;
  bottom: 28%;
  text-align: center;
  z-index: 1;
  outline: none;
}

@media (max-width: 1170px) {
  .banner__title {
    /* background-color: yellow; */
    font-size: 4vw;
    line-height: 4.1vw;
  }
  .banner__subtitle {
    font-size: 2vw;
    line-height:2.1vw;
  }
}

@media (max-width: 870px){
  .banner__title {
    /* background-color: yellow; */
    font-size: 30px;
  }
  .banner__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 700px){
  .banner__title {
    font-size: 20px;
    margin-top: 5%;
    line-height: 22px;
    margin-bottom: 2%;
  }
  .banner__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .banner__text {
    justify-content: start;
  }
  .banner .banner-btn {
    bottom: 20%;
  }
}

/*CONTENT*/

.section-header {
  font-family: 'ClearSans';
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  /* background-color: grey; */
}
.section-sub-header {
  font-family: 'ClearSans';
  font-size: 24px;
  text-align: center;
}
  
/* ****Products**** */
.products {
  padding-top: 45px;
}
.products .section-header {
  margin-bottom: 44px;
}
.prod-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .prod-cards {
    justify-content: space-around;
  }
}

.prod-card {
  border: 1px solid rgba(220, 225, 230, 1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  padding: 25px 31px 25px 0;
  width: 30%;
  min-width: 310px;
  max-height: 290px;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  margin-bottom: 32px;
}
.prod-card__ico {
  width: 30%;
  max-width: 120px;
  background-color: lightblue;
  text-align: center;
  padding: 0 10px;
}
.prod-card__title {
  font-family: 'ClearSans';
  font-size: 16px;
  font-weight: bold;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 24px;
  padding-top: 5px;
}
.prod-card__title a {
  text-decoration: none;
}
.prod-card__list li {
  margin-bottom: 22px;
}
.prod-card__list a {
  font-family: 'ClearSans';
  font-size: 14px;
  text-decoration: none;
}
.prod-card__list a:hover {
  text-decoration: underline;
  color: var(--blue-color);
}
.prod-card__list--2col {
  list-style-position: inside;
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;
  column-width: 100px;
  min-width: 216px;
}
/* ****** about us ****** */
.about-us {
  border-bottom: 1px solid rgba(232, 237, 242, 1);
  padding-bottom: 25px;
}
.about-us .section-header {
  margin-bottom: 40px;
}
.about-us .section-sub-header {
  margin-bottom: 34px;
}
.about-us header {
  box-shadow: none;
}
.about-us p {
  font-family: 'Clear Sans';
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 1200px) {
  .about-us p {
    padding: 0 10px;
  }
}
/* ****** news ****** */
.news {
  padding: 33px 0 49px;
  /* display: flex; */
  flex-direction: column;
}
.news .section-header {
  margin-bottom: 50px;
}
.news-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 26px;
}

@media (max-width: 950px){
  .news-cards {
    justify-content: space-around;
  }
}

.news-card {
  width: 32%;
  min-width: 310px;
  padding: 29px 18px 31px;
  margin-bottom: 25px;
  border-top: 1px solid transparent;
}
.news-card:hover {
  border-top: 1px solid var(--blue-color);
  background-color: white;
  box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.05);
}
.news-card:hover a {
  color: var(--blue-color);
  text-decoration: underline;
}

.news-card__date {
  font-family: 'ClearSans';
  font-size: 14px;
  color: var(--grey-color);
  text-align: center;
  margin-bottom: 14px;
}
.news-card__link {
  text-align: center;
}
.news-card__link a {
  text-decoration: none;
  font-family: 'ClearSans';
  font-size: 16px;
  line-height: 20px;
}
#all-news {
  margin-left: 50%;
  transform: translate(-50%);
  min-width: 190px;
}




/* FOOTER */

footer {
  background-color: rgba(247, 247, 247, 1);
  min-height: 159px;
  /* border: 1px dashed red; */
  padding-top: 20px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05) inset;

}

.slogan--footer {
  margin-bottom: 20px;
}

.work-time--footer {
  font-weight: normal;
  text-align: left;
}
/*end 26-09-2020 23:30*/

/*start 27-09-2020 21:52*/
.footer {
  position: relative;
  background-color: rgb(243, 243, 243);
}
.logo--footer {
  margin-right: 42px;
  float: left;
}

.info--footer {
  max-width: 263px;
  text-align: left;
  background-color: khaki;
  float: left;
  padding-top: 8px;
  padding-left: 0;
  /* margin-right: 50px; */
}
.info--footer h2 {
  font-family: 'Roboto';
  font-size: 14px;
}

.footer-links {
  box-shadow: unset;
  /* float: left; */
  width: unset;
  background-color: mediumaquamarine;
  /* position: relative; */
}

.footer-links > ul {
  display: block;
  float: left;
  /* max-width: 360px; */
  /* width: 50%; */
}
.nav-list--footer {
  font-family: 'Roboto';
  display: inline;
}

.nav-links {
  margin-top: 8px;
}
/* .menu-bar--footer {*/
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* max-width: 600px; */
  /* min-height: 300px; */
  /* display: block; */
  /* background-color: lightsalmon;
  -webkit-column-count: 2;
  -moz--column-count: 2;
  column-count: 3;
  column-width: 60px;
  column-gap: 10px;
  display: inline-block;
  position: absolute;
  width: 30%;
  padding-left: 50px;
  padding-top: 6px; */
/*} */
/* .nav-element--footer:first-child {
  margin-left: 0;
} */
/* .nav-element:last-child {
    margin-right: 0;
} */
/* .nav-element--footer:hover {
  border-top: 1px solid transparent;
} */
/* .nav-element--footer {
  max-width: 150px;
  background-color: lightgreen;
  border: 1px solid red;
} */
.nav-element__link--footer {
  text-transform: unset;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  width: 190px;
  margin-left: 0;
  margin-right: 17px;
  margin-bottom: 21px;
  padding-left: 50px;
  padding-right: 0;
  text-align: left;
  height: 21px;
  display: inline-block;
  border: 1px solid blue;
}
.nav-element__link--footer:last-child {
  /* padding-left: 0; */
  text-align: right;
  margin: -42px 0 0 0; 
  width: auto;
  position: relative;
  float: right;
  vertical-align: top;
}
.nav-element__link--footer:hover {
  color: var(--blue-color);
}
/*end 27-09-2020 23:10*/

/*start 28-09-2020 10:00*/
/*end 28-09-2020 11:00*/

/*start 28-09-2020 14:00*/
/*end 28-09-2020 16:00*/

/*start 28-09-2020 17:30*/
.links__bottom--footer {
  display: block;
  float: right;
  width: 222px;
  background-color: lightslategrey;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        /* shape-margin:20px; */
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  margin: 0 0 0 -55px;
}
.copyright {
  position: relative;
  top: -36px;
}
.developer {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 22px;
}
.developer:hover a {
  color: var(--blue-color);
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*start 29-09-2020 12:10*/