* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color:  #3A4047;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.hide {
  display: none;
}

header {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: block;
}

.header {
  padding-top: 17px;
  font-family: "ClearSans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 258px;
  height : 77px;
}

.logo__text {
  margin: 4px 0 0 12px;
}

.logo__text a {
  text-decoration: none;
}

.logo img {
  margin-top: 1px;
}

.logo h1, .logo h2 {
  font-family: 'Montserrat', sans-serif;
}

.logo h1 a {
  color:  #1AB0CE;
  font-size: 43px;
  font-weight: 900;
  line-height: 46px;
  height: 45px;
  text-transform: uppercase;
  vertical-align: bottom;
  padding-bottom: 4px;
  margin-left: -2px;
}

.logo h2 a {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.info {
  padding: 0 10px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slogan {
  font-family: "ClearSans";
  font-size: 16px;
  line-height: 21px;
  max-width: 375px;
  margin: 0 auto 11px;
  
}

.work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  max-width: 375px;
  margin: 0 auto;
}

.links {
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.links__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.account {
  margin-right: 10px;
}

.account__ico {
  height: 13px;
  width: 12px;
  display: inline-block;
  vertical-align: middle;
}

.account a {
  margin-left: 5px;
}

.email {
  display: block;
  max-width: 180px;
}

.links__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
}

.facebook__ico {
  width: 12px;
  height: 22px;
  margin-right: 21px;
}

.phones {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  position: relative;
  font-family: "ClearSans";
  display: inline-block;
}

.phones__ico {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}
.phones__btn {
  border-radius: 50%;
  border: none;
  background-color:  #EDEDED;
  width: 20px;
  height: 20px;
  position: relative;
  outline: none;
  cursor: pointer;
}

.phones__btn img {
  position: absolute;
  width: 10px;
  height: 6px;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.phones__primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.phones__primary a {
  display: block;
  margin: 0 6px 0 10px;
  text-decoration: none;
}
.phones__mobile {
  display: none;
  font-weight: normal;
  background-color: #FFF;
  width: 219px;
  height: 167px;
  padding: 30px 5px 30px 30px;
  position: absolute;
  top: 46px;
  left: -21px;
  z-index: 2;
}

.phones__mobile:before {
  content:"";
  display: block ;
  position: absolute;
  top: -5px;
  right: 6px;
  width: 28px;
  height: 28px;
  background-color: #FFF;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.phones__mobile li {
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.phones__mobile li a {
  line-height: 26px;
  vertical-align: middle;
  margin-left: 10px;
  text-decoration: none;
}

.phones__mobile li img {
  height: 26px;
  width: 26px;
}

.phones__mobile--footer {
  top: -850%;
  z-index: 50;
}
.phones__mobile--footer:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  right: 6px;
  width: 28px;
  height: 28px;
  background-color: #FFF;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.phones__mobile--footer:before {
  display: none;
}

.shoping-cart {
  position: relative;
}

.shoping-cart img {
  height: 54px;
}

.shoping-cart__counter {
  color: #FFF;
  font-size: 14px;
  position: absolute;
  top: 8.5px;
  right: 11.5px;
} 

@media (min-width: 1800px) {
  .banner-btn {
    bottom: 28%;
  }
}

@media (min-width: 1100px) {
  .shoping-cart{
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .links {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 1799px) {
  .banner .banner-btn {
    bottom: 20%;
  }
}

@media (max-width: 1799px) {
  .banner .banner-btn {
    bottom: 15%;
  }
}

@media (max-width: 1059px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .logo {
    margin-bottom: 10px;
  }
  .info {
    width: 60%;
  }
  .shoping-cart {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .links {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .account {
    margin-right: 30px;
  }
}

@media (max-width: 870px) {
  .nav-element .nav-element__link {
    font-size: 14px;  
  }
  .info {
    width: 50%;
    margin-right: 60px;
  }
  .links {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .shoping-cart {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .banner .banner-btn {
    bottom: 10%;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .banner .banner__title {
    margin-bottom: 15px;
  }
  nav .menu-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -200%;
    width: 80%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.95);
    -webkit-box-shadow: -1px 0 4px rgba(0, 0, 0, 0.1);
            box-shadow: -1px 0 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow: auto;
  }
  .menu-bar.active {
    right: 0;
    -webkit-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
  }
  .menu-bar .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 2.5em;
  }
  .nav-list .nav-element {
    display: block;
    margin-bottom: 2.5em;
  }
  .nav-element .nav-element__link {
    font-size: 18px;  
  }
  .nav-list .nav-element:hover {
    border-top: 1px solid transparent;
  }
  .search-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 2.3em;
    width: 70%;
  }
  .search-input {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  .search-input:focus {
    position: fixed;
    top: 10px;
    left: 20px;
    height: 2.3em;
    width: 90%;
  }
  .menu-bar__btn {
    height: 40px;
    width: 42px;
    position: fixed;
    bottom: 36px;
    right: 20px;
    cursor: pointer;
  }
  .menu-bar__btn span {
    display: block;
    width: 40px;
    height: 6px;
    border: 1px solid  #3A4047;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    margin-top: -3px;

  }
  .menu-bar__btn:before {
    content: "";
    display: block;
    width: 40px;
    height: 6px;
    border: 1px solid  #3A4047;
    border-radius: 3px;
    position: absolute;
    top: 4px;
    right: 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: inherit;
  }
  .menu-bar__btn:after {
    content: "";
    display: block;
    width: 40px;
    height: 6px;
    border: 1px solid  #3A4047;
    border-radius: 3px;
    position: absolute;
    bottom: 4px;
    right: 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .menu-bar__btn:hover.menu-bar__btn:before{
    border-color:  #1AB0CE;
  }
  .menu-bar__btn:hover.menu-bar__btn:after{
    border-color:  #1AB0CE;
  }
  .menu-bar__btn:hover span {
    border-color:  #1AB0CE;
  }
  .menu-bar__btn:hover.active:before{
    border-color:  #1AB0CE;
  }
  .menu-bar__btn:hover.active:after{
    border-color:  #1AB0CE;
  }
  
  .menu-bar__btn.active:before{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 17px;
    background-color:  #1AB0CE;
    border-color:  #1AB0CE;
    -webkit-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
  }
  .menu-bar__btn.active:after{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 17px;
    background-color:  #1AB0CE;
    border-color:  #1AB0CE;
    -webkit-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
  }
  .menu-bar__btn.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}


@media screen and (max-width: 767px) and (orientation: landscape) {
  .nav-list .nav-element {
    display: block;
    margin-bottom: 1em;
  }
  .search-field {
    margin-bottom: 1em;
  }
  .menu-bar .nav-list {
    margin-top: 0;
  }
}

@media (max-width: 700px) {
  .info {
    margin-right: 0;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .shoping-cart {
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .info {
    margin-bottom: 10px;
    width: 80%;
  }
  .links {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .links__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .account {
    margin-bottom: 20px;
  }
}

@media (max-width: 460px) {
  .info {
    width: 100%;
  }
  .links {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .links__top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .links__bottom {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .shoping-cart {
    top: unset;
    left: unset;
    right: 10px;
    bottom: unset;
    bottom: 20px;
  }
}

nav {
  font-family: "ClearSans";
  font-weight: bold;
  width: 100%;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

.menu-bar{
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 57px;
}

.nav-element {
  display: inline-block;
  height: 100%;;
  border-top: 1px solid transparent;
}

.nav-element:hover {
  border-top: 1px solid  #1AB0CE;
}

.nav-element:hover .nav-element__link {
  color:  #1AB0CE;
} 

.nav-element__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: "ClearSans";
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.nav-element:first-child {
  margin-left: -38px;
}

.nav-element:last-child {
  margin-right: -38px;
}

@media (max-width: 1170px) {
  .header, nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-element:first-child {
    margin-left: 0;
  }
  .nav-element__link {
    padding: 0 30px;
  }
  .nav-element:last-child {
    margin-right: -30px;
  }
}

@media (max-width: 1149px) {
  .nav-element__link {
    padding: 0 25px;
  }
  .nav-element:last-child {
    margin-right: -25px;
  }
}

@media (max-width: 1059px) {
  .nav-element__link {
    padding: 0 10px;
  }
  .nav-element:last-child {
    margin-right: 0;
  }
}

#search__btn {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}
.search__btn:hover {
  background: transparent;
}

.search-field {
  position: relative;
}

.search-input.show {
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  z-index: 2;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 0; 
  max-height: 500px;
  z-index: 1;
}

#banner__background{
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner__text {
  font-family: "ClearSans";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__title {
  color: #FFF;
  font-size: 57px;
  line-height: 67px;
  position: relative;
  margin-bottom: 25px;
  text-align: center;
}

.banner__title:after {
  content: "";
  display: block;
  height: 2px;
  border-top: 2px solid #FFF;
  width: 120px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -60px;
}

.banner__subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #FFF;
  text-align: center;
}

.banner__title, .banner__subtitle {
  max-width: 1170px;
}

.blue-btn {
  background-color:  #1AB0CE;
  color: #FFF;
  border: none;
  border-radius: 2px;
  height: 32px;
  font-family: "ClearSans";
  font-size: 14px;
  line-height: 16px;
  padding: 0 25px;
  z-index: 1;
  display: inline-block;
  outline: none;
  cursor: pointer;
}

.blue-btn--bold {
  background-color:  #1AB0CE;
  color: #FFF;
  border: none;
  border-radius: 2px;
  height: 48px;
  font-family: "ClearSans";
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  padding: 0 25px;
  z-index: 1;
  outline: none;
  cursor: pointer;
}

.transparent-btn {
  background-color: transparent;
  color:  #1AB0CE;
  border: 1px solid  #1AB0CE;
  border-radius: 2px;
  height: 32px;
  font-family: "ClearSans";
  font-size: 14px;
  line-height: 16px;
  padding: 0 21px;
  z-index: 1;
  display: inline-block;
  outline: none;
  padding-top: 2px;
  cursor: pointer;
}

.banner-btn {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 28%;
  text-align: center;
  z-index: 1;
  outline: none;
}

@media (max-width: 1170px) {
  .banner__title {
    font-size: 4vw;
    line-height: 4.1vw;
  }
  .banner__subtitle {
    font-size: 2vw;
    line-height:2.1vw;
  }
}

@media (max-width: 870px){
  .banner__title {
    font-size: 30px;
  }
  .banner__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 700px){
  .banner__title {
    font-size: 20px;
    margin-top: 5%;
    line-height: 22px;
    margin-bottom: 2%;
  }
  .banner__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .banner__text {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .banner .banner-btn {
    bottom: 20%;
  }
}

/*CONTENT*/

.section-header {
  font-family: 'ClearSans';
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.section-sub-header {
  font-family: 'ClearSans';
  font-size: 24px;
  text-align: center;
}
  
/* ****Products**** */
.products {
  padding-top: 45px;
}

.products .section-header {
  margin-bottom: 44px;
}

.prod-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 950px) {
  .prod-cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.prod-card {
  border: 1px solid rgba(220, 225, 230, 1);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  padding: 25px 31px 25px 0;
  width: 30%;
  min-width: 310px;
  max-height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-bottom: 32px;
}

.prod-card__ico {
  width: 30%;
  max-width: 120px;
  text-align: center;
  padding: 0 10px;
}

.prod-card__title {
  font-family: 'ClearSans';
  font-size: 16px;
  font-weight: bold;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 24px;
  padding-top: 5px;
}

.prod-card__title a {
  text-decoration: none;
}

.prod-card__list li {
  margin-bottom: 22px;
}

.prod-card__list a {
  font-family: 'ClearSans';
  font-size: 14px;
  text-decoration: none;
}

.prod-card__list a:hover {
  text-decoration: underline;
  color:  #1AB0CE;
}

.prod-card__list--2col {
  list-style-position: inside;
  -moz-column-count:2; 
  -webkit-column-count:2; 
  column-count:2;
  -webkit-column-width: 100px;
     -moz-column-width: 100px;
          column-width: 100px;
  min-width: 216px;
}

/* ****** about us ****** */
.about-us {
  border-bottom: 1px solid rgba(232, 237, 242, 1);
  padding-bottom: 25px;
}

.about-us .section-header {
  margin-bottom: 40px;
}

.about-us .section-sub-header {
  margin-bottom: 34px;
}

.about-us header {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.about-us p {
  font-family: 'Clear Sans';
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 1200px) {
  .about-us p {
    padding: 0 10px;
  }
}

/* ****** news ****** */
.news {
  padding: 33px 0 49px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .section-header {
  margin-bottom: 50px;
}

.news-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 26px;
}

@media (max-width: 950px){
  .news-cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.news-card {
  width: 32%;
  min-width: 310px;
  padding: 29px 18px 31px;
  margin-bottom: 25px;
  border-top: 1px solid transparent;
}

.news-card:hover {
  border-top: 1px solid  #1AB0CE;
  background-color: #FFF;
  -webkit-box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.05);
}

.news-card:hover a {
  color:  #1AB0CE;
  text-decoration: underline;
}

.news-card__date {
  font-family: 'ClearSans';
  font-size: 14px;
  color:  #BEC7D1;
  text-align: center;
  margin-bottom: 14px;
}

.news-card__link {
  text-align: center;
}

.news-card__link a {
  text-decoration: none;
  font-family: 'ClearSans';
  font-size: 16px;
  line-height: 20px;
}

#all-news {
  margin-left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  min-width: 190px;
}

/* FOOTER */

footer {
  background-color: rgba(247, 247, 247, 1);
  min-height: 159px;
  padding-top: 20px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05) inset;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05) inset;
}

.slogan--footer {
  margin-bottom: 20px;
}

.work-time--footer {
  font-weight: normal;
  text-align: left;
}

.footer {
  position: relative;
  background-color: rgb(243, 243, 243);
}

.logo--footer {
  margin-right: 42px;
  float: left;
}

.info--footer {
  max-width: 263px;
  text-align: left;
  float: left;
  padding-top: 8px;
  padding-left: 0;
}

.info--footer h2 {
  font-family: 'Roboto';
  font-size: 14px;
}

.footer-links {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  width: unset;
}

.footer-links > ul {
  display: block;
  float: left;
}
.nav-list--footer {
  font-family: 'Roboto';
  display: inline;
}

.nav-links {
  margin-top: 8px;
}

.nav-element__link--footer {
  text-transform: unset;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  width: 190px;
  margin-left: 0;
  margin-right: 17px;
  margin-bottom: 21px;
  padding-left: 50px;
  padding-right: 0;
  text-align: left;
  height: 21px;
  display: inline-block;
}

.nav-element__link--footer:last-child {
  text-align: right;
  margin: -42px 0 0 0; 
  width: auto;
  position: relative;
  float: right;
  vertical-align: top;
}

.nav-element__link--footer:hover {
  color:  #1AB0CE;
}

.links__bottom--footer {
  display: block;
  float: right;
  width: 237px;
  -webkit-shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  margin: -188px 0 0 -55px;
  padding-top: 188px;
}

.copyright {
  position: relative;
  top: -36px;
  width: 300px;
}

.developer {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 22px;
}

.developer:hover a {
  color:  #1AB0CE;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 1200px) {
  .logo--footer, 
  .info--footer {
    float: unset;
    margin-right: 0;
  }
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
  .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .links__bottom--footer {
    float: unset;
    -webkit-shape-outside: none;
            shape-outside: none;
    -webkit-clip-path: none;
            clip-path: none;
    margin: 0;
    padding-top: 0;
    min-width: 222px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .nav-links {
    margin: 0;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 9%;
       -moz-column-gap: 9%;
            column-gap: 9%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 60%;
  }
  .nav-element__link--footer {
    margin-right: 0;
  }
  .nav-element__link--footer:last-child {
    text-align: left;
    margin: 0 0 21px 0; 
    width: auto;
    position: static;
    float: unset;
    vertical-align: unset;
    width: 190px;
  }
  .copyright {
    padding-left: 10px;
    top: 3px;
    height: 0;
  }
  .developer {
    position: static;
    margin-bottom: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 900px) {
  .nav-links {
    width: 600px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-width: 290px;
       -moz-column-width: 290px;
            column-width: 290px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    width: 80%;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-width: unset;
       -moz-column-width: unset;
            column-width: unset;
  }
   .links__bottom--footer {
    margin-bottom: 15px;
  }
}

@media (max-width: 680px) {
  .nav-links {
    width: 96%;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}

@media (max-width: 560px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  } 
  .nav-links {
    width: 80%;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; 
    -webkit-column-width: unset; 
       -moz-column-width: unset; 
            column-width: unset;
  }
}

@media (max-width: 480px) {
  .nav-links {
    width: auto;
    -webkit-column-count: unset;
       -moz-column-count: unset;
            column-count: unset;
  }
  .nav-element__link--footer {
    display: block;
  }
  .links__bottom--footer {
    margin-bottom: 25px;
  }
  
  .copyright {
    padding-left: unset;
    width: 100%;
    text-align: center;
    top: unset;
    height: auto;
    margin-bottom: 20px;
  }
  .developer {
    text-align: center;
    margin-bottom: 20px;
  }
}